<!DOCTYPE html>
<html lang = "en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>
<footer id="contact_info">
    <h3>Contact</h3>
    <div class="email">
        <a href="mailto:guitarstore123@gmail.com"> guitarstore123@gmail.com </a>
    </div>
    <div class="phone">
        <a href="tel:+48 123 456 789">+48 123 456 789</a>
    </div>
    <div class="address">
        <p>1234 Guitar Street, Guitar City, Guitar State, 12345</p>
    </div>
    <div class="copyr">
        <p>Copyright © 2023 Guitar Shop</p>
    </div>
</footer>
</body>
</html>
</html>