<!DOCTYPE html>
<html lang = "en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>
<header>
    <nav class="nav-bar">
        <div class="nav-item">
            <input type="text" placeholder="Search for guitars">
            <a href="#">Search</a>
        </div>
        <div class="nav-item">
            <a href="/">Guitars</a>
        </div>
        <div class="nav-item">
            <a href="./about_us">About Us</a>
        </div>
        <div class="nav-item">
            <a href="#contact_info">Contact Us</a>
        </div>
        <div class="cart-icon">
            <img src="cart.png" alt="Shopping Cart">
            <span class="cart-count">0</span>
        </div>
    </nav>
</header>

<div class="team">
    <h2>Our team</h2>
    <div class="team-member">
       <div class="team-member-image">
           <img src="jimi.jpg" alt="Jimi Hendrix">
        </div>
        <div class="team-member-info">
            <h3>Jimi Hendrix</h3>
            <h4>Founder</h4>
            <p> American rock guitarist, singer, and composer who fused American traditions of blues, jazz, rock, and soul with techniques of British avant-garde rock to redefine the electric guitar in his own image.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="clapton.jpg" alt="Eric Clapton">
        </div>
        <div class="team-member-info">
            <h3>Eric Clapton</h3>
            <h4>Co-Founder</h4>
            <p> British rock musician who was a highly influential guitarist in the late 1960s and early ’70s and later became a major singer-songwriter.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="bb-king.jpg" alt="B.B. King">
        </div>
        <div class="team-member-info">
            <h3>B.B. King</h3>
            <h4>Vice president</h4>
            <p> American guitarist and singer who was a principal figure in the development of blues and from whose style leading popular musicians drew inspiration.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="zappa.jpg" alt="Frank Zappa">
        </div>
        <div class="team-member-info">
            <h3>Frank Zappa</h3>
            <h4> Manager</h4>
            <p>  American composer, guitarist, and satirist of the 1960s, ’70s, and ’80s..</p>
        </div>
    </div>


</div>

<footer id="contact_info">
    <h3>Contact</h3>
    <div class="email">
        <a href="mailto:guitarstore123@gmail.com"> guitarstore123@gmail.com </a>
    </div>
    <div class="phone">
        <a href="tel:+48 123 456 789">+48 123 456 789</a>
    </div>
    <div class="address">
        <p>1234 Guitar Street, Guitar City, Guitar State, 12345</p>
    </div>
    <div class="copyr">
        <p>Copyright © 2023 Guitar Shop</p>
    </div>
</footer>
</body>
</html>
</html>