<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>
<header>
    <nav class="nav-bar">
        <div class="nav-item">
            <input type="text" placeholder="Search for guitars">
            <a href="#">Search</a>
        </div>
        <div class="nav-item">
            <a href="#">Guitars</a>
        </div>
        <div class="nav-item">
            <a href="#">Accessories</a>
        </div>
        <div class="nav-item">
            <a href="#">About Us</a>
        </div>
        <div class="nav-item">
            <a href="#">Contact Us</a>
        </div>
        <div class="cart-icon">
            <img src="cart.png" alt="Shopping Cart">
            <span class="cart-count">0</span>
        </div>
    </nav>
</header>
<main>
    <div id="featured-guitars">
        <div class="products-header">
            <h2>Featured Guitars</h2>
        </div>
        <div class="products">
            <div class="guitar-item">
                <img src="guitar1.jpg" alt="Fender American Ultra Stratocaster">
                <h3>Guitar 1</h3>
                <p>$24999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar2.jpg" alt="Ibanez AZ2204N-AWD Antique">
                <h3>Guitar 2</h3>
                <p>$1899.99</p>
                <a href="#">Add to Cart</a>
            </div>

            <div class="guitar-item">
                <img src="guitar3.jpg" alt="Charvel Jake E Lee Signature Pro-Mod So-Cal Style HT">
                <h3>Guitar 3</h3>
                <p>$1399.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar4.jpg" alt="Fender Jim Root Jazzmaster V4 Flat">
                <h3>Guitar 4</h3>
                <p>$9999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar5.jpg" alt="Epiphone Billie Joe Armstrong Les Paul">
                <h3>Guitar 5</h3>
                <p>$5999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar6.jpg" alt="Epiphone SG Standard Original">
                <h3>Guitar 6</h3>
                <p>$999.99</p>
                <a href="#">Add to Cart</a>
            </div>
        </div>
    </div>

</main>
<footer>
    <p>Copyright © 2023 Guitar Shop</p>
</footer>
</body>
</html>
