<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>
<header>
    <nav class="nav-bar">
        <div class="nav-item">
            <input type="text" placeholder="Search for guitars">
            <a href="#">Search</a>
        </div>
        <div class="nav-item">
            <a href="#">Guitars</a>
        </div>
        <div class="nav-item">
            <a href="#">Accessories</a>
        </div>
        <div class="nav-item">
            <a href="#">About Us</a>
        </div>
        <div class="nav-item">
            <a href="#contact-info">Contact Us</a>
        </div>
        <div class="cart-icon">
            <img src="cart.png" alt="Shopping Cart">
            <span class="cart-count">0</span>
        </div>
    </nav>
</header>
<main>
    <div id="featured-guitars">
<!--        <div class="products-header">-->
<!--            <h2>Featured Guitars</h2>-->
<!--        </div>-->
        <div class="products">
            <div class="guitar-item">
                <img src="guitar1.jpg" alt="Fender Limited Edition Joe Strummer Esquire Relic Masterbuilt Jason Smith">
                <h3>Fender Limited Edition Joe Strummer Esquire Relic Masterbuilt Jason Smith</h3>
                <p>$24999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar2.jpg" alt="Fender Private Collection H.A.R. Stratocaster">
                <h3>Fender Private Collection H.A.R. Stratocaster</h3>
                <p>$1899.99</p>
                <a href="#">Add to Cart</a>
            </div>

            <div class="guitar-item">
                <img src="guitar3.jpg" alt="Fender '61 Strat HRL RW Super Faded Aged">
                <h3>Fender '61 Strat HRL RW Super Faded Aged</h3>
                <p>$1399.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar4.jpg" alt="ESP Snakebyte">
                <h3>ESP Snakebyte</h3>
                <p>$9999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar5.jpg" alt="Gibson 1963 Les Paul SG Custom Matestro Vibrola VOS">
                <h3>Gibson 1963 Les Paul SG Custom Matestro Vibrola VOS</h3>
                <p>$5999.99</p>
                <a href="#">Add to Cart</a>
            </div>
            <div class="guitar-item">
                <img src="guitar6.jpg" alt="Ibanez Steve Vai PIA3761-SLW">
                <h3>Ibanez Steve Vai PIA3761-SLW</h3>
                <p>$999.99</p>
                <a href="#">Add to Cart</a>
            </div>
        </div>
    </div>

</main>
<footer id="contact-info">
    <h3>Contact</h3>
    <div class="contact">
        <p>+71-603-135-259</p>
        <p>shopwithguitars@gmail.com</p>
        <p>13 Guitar Street, Guitar City</p>
    </div>
    <div class="copyr">
        <p>Copyright © 2023 Guitar Shop</p>
    </div>
</footer>
</body>
</html>
